@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

*{
    box-sizing:border-box;
}
body{
    background-color:#242333;
    color:#ffff;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    height:100vh;
}
.seat{
    height:12px;
    width:15px;
    background-color: #444433;
    margin:3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.row{
    display:flex;
}
.movie-container select{
    background-color: #ffff;
    margin-left:10px;
    padding: 5px 15px;
    font-size:15px;
    border-radius: 10px;
    outline:none;
   appearance: none;
}
.seat.selected{
    background-color:#6feaf6;
}
.seat.occupied{
    background-color:#ffff;
}
.seat:nth-of-type(2){
    margin-right:18px;
}
.seat:nth-last-of-type(2){
    margin-left:18px;  
}
.seat:not(.occupied):hover{
    cursor:pointer;
    transform:scale(1.2);
}

.showcase.seat:not(.occupied):hover{
    cursor:default;
    transform: scale(1);
}
.showcase{
    background-color:rgba(0,0,0,0.1);
    padding:5px 10px;
    border-radius:5px;
    color:#777;
    list-style-type:none;
    display:flex;
    justify-content:space-between;
    margin:30px 0;
}
.showcase li{
    display:flex;
    margin: 0 10px;
}
.showcase li small{
    margin-left:5px;
}
p{
    letter-spacing: 1px;
    padding:20px 0;
}
.screen{
    height:70px;
    width:100%;
    background-color: #fff;
    margin:20px 0;
    transform:rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255, 0.75);
}

p.text span{
    color:#6feaf6;
}





















